:root {
  --main-color: #004d1f;
  --border-color: #ececec;
  --white-color: #ffffff;
}
/* --------- Global style ----------- */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-family: "Poppins", sans-serif;
}
body {
  height: 100vh;
  overflow: hidden;
}
a {
  text-decoration: none;
}
li {
  list-style-type: none;
}
button {
  cursor: pointer;
}
