:root {
  --main-color: #004d1f;
}

/* --------- Global style ----------- */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
}

a {
  text-decoration: none;
  list-style-type: none;
}

li {
  list-style-type: none;
}

button {
  cursor: pointer;
}

/* --------- COMMON style ----------- */
.hidden {
  display: none;
}

.container {
  width: 80%;
  margin: 0 auto;
}

/* --------- Header style ----------- */

.header-top {
  height: 45px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #ececec;
}
.header-top .left-content {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 16px;
  color: var(--main-color);
  font-weight: bold;
}
.header-top .right-content {
  display: flex;
  align-items: center;
  gap: 8px;
}
.header-top .right-content a {
  color: var(--main-color);
  font-weight: bold;
  font-size: 16px;
  transition: all 0.3s ease-in-out;
}
.header-top .left-content .toggle-sidebar-btn {
  background-color: var(--main-color);
  color: #fff;
  padding: 8px 12px;
  border-radius: 8px;
  transition: all 0.3s ease-in-out;
  border: none;
}
.header-top .left-content .toggle-sidebar-btn:hover {
  opacity: 0.8;
}
.header-nav {
  position: sticky;
  top: 0;
  z-index: 1000;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px 0;
}

.header-nav li a {
  color: var(--main-color);
  font-weight: bold;
  font-size: 18px;
  padding: 10px 20px;
  transition: all 0.3s ease-in-out;
}

/* --------- Main content style ----------- */
.main-content {
  width: 100%;
  height: 100%;
  padding: 20px 0;
}
.hero-section {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 400px;
  background-image: url("https://theme.hstatic.net/1000221193/1000675458/14/ms_banner_img1.jpg?v=183");
  background-size: cover;
  background-position: center;
}

/* --------- Category section style ----------- */
.user-section {
  margin-top: 40px;
  display: flex;
  gap: 20px;
}

.user-section aside {
  width: 15%;
}

.user-section aside .category-list {
  list-style: none;
  padding: 0;
}

.user-section .category-sidebar h2 {
  font-size: 20px;
  color: var(--main-color);
  font-weight: bold;
  margin-bottom: 20px;
}
.user-section .category-sidebar li {
  padding: 8px 0;
  border-bottom: 1px solid #ececec;
  font-size: 16px;
}
.category-sidebar li a {
  color: var(--main-color);
}

.user-content {
  flex: 1;
  border-left: 1px solid #ececec;
  border-right: 1px solid #ececec;
  padding: 0 20px;
}
.user-content h2 {
  font-size: 24px;
  color: var(--main-color);
  font-weight: bold;
  margin-bottom: 20px;
}

.user-content .user-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
.user-content .user-list .user-item {
  border-radius: 16px;
  width: calc(25% - 20px);
  border: 1px solid #ececec;
  text-align: center;
  overflow: hidden;
}

.user-content .user-list .user-item img {
  width: 100%;
  object-fit: cover;
  height: auto;
}

.user-item__desc {
  padding: 10px;
  font-size: 16px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  color: var(--main-color);
}

.filter-sidebar h3 {
  font-size: 20px;
  color: var(--main-color);
  font-weight: bold;
  margin-bottom: 8px;
  padding-bottom: 12px;
  border-bottom: 2px solid #ececec;
}
.filter-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 8px 0;
}
.filter-list .filter-item {
  display: flex;
  gap: 10px;
  color: var(--main-color);
}
/* --------- Footer style ----------- */
footer {
  background-color: var(--main-color);
  padding: 20px 0;
  margin-top: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}

/* --------- Sidebar style ----------- */
.main-sidebar {
  /* display: none; */
  position: fixed;
  top: 0;
  right: 0;
  width: 400px;
  height: 100%;
  background-color: var(--main-color);
  color: #fff;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  padding: 20px;
}
